In [1]:
import pandas as pd
import numpy as np

In [2]:
d={'name':['nirob','nipa','das'],
   'mark':[10,20,30],
   'city':['rampur','kolkata','portblair']
}

In [3]:
df = pd.DataFrame(d)
df

    name  mark       city
0  nirob    10     rampur
1   nipa    20    kolkata
2    das    30  portblair

In [4]:
df.to_csv('test1.csv')

In [6]:
df = pd.read_csv('test1.csv')

In [10]:
df['mark'][0] = 20
df

/tmp/ipykernel_571748/254639801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mark'][0] = 20

   Unnamed: 0   name  mark       city
0           0  nirob    20     rampur
1           1   nipa    20    kolkata
2           2    das    30  portblair

In [11]:
df=pd.DataFrame(np.random.rand(100,3), index=np.arange(100))

In [12]:
df1 = df.to_numpy()

In [13]:
df1

array([[0.3945024 , 0.70837196, 0.22622989],
       [0.87571936, 0.8438318 , 0.03461545],
       [0.06836563, 0.51128048, 0.353362  ],
       [0.5365799 , 0.92213907, 0.32205824],
       [0.10480382, 0.88752143, 0.66863798],
       [0.69727689, 0.65160394, 0.12956435],
       [0.41397908, 0.56925559, 0.83397279],
       [0.48200652, 0.92739845, 0.75565949],
       [0.13525259, 0.36302308, 0.71426822],
       [0.92194781, 0.87714098, 0.28139499],
       [0.51332343, 0.8429137 , 0.9817994 ],
       [0.20897811, 0.20546373, 0.87029745],
       [0.38897951, 0.22273274, 0.08766664],
       [0.87695276, 0.89986457, 0.22409072],
       [0.16373405, 0.97543347, 0.69595778],
       [0.89435284, 0.72844228, 0.3999947 ],
       [0.80927228, 0.26966269, 0.11307439],
       [0.7161881 , 0.69871971, 0.36411223],
       [0.47960158, 0.0169303 , 0.81597387],
       [0.10165845, 0.71299669, 0.44225654],
       [0.72971574, 0.48028541, 0.59261568],
       [0.28834617, 0.60746203, 0.0487572 ],
       [0.37142445, 0.36748591, 0.08673102],
       [0.08266864, 0.38221588, 0.18394967],
       [0.50530672, 0.11727244, 0.72939874],
       [0.67084995, 0.45016864, 0.9678204 ],
       [0.25749717, 0.6874315 , 0.65860926],
       [0.18544429, 0.01268425, 0.68113484],
       [0.98999332, 0.44229239, 0.54855249],
       [0.73165769, 0.39771118, 0.09366988],
       [0.58831175, 0.12942951, 0.55643687],
       [0.9703283 , 0.54701003, 0.68149078],
       [0.9315035 , 0.74940283, 0.49379735],
       [0.69699085, 0.79907019, 0.88556305],
       [0.60840305, 0.01678237, 0.22331039],
       [0.3069565 , 0.06280223, 0.41535217],
       [0.47688987, 0.11402487, 0.82777381],
       [0.38245932, 0.8241746 , 0.33534179],
       [0.64395262, 0.3916256 , 0.49277139],
       [0.64644718, 0.04276461, 0.45531576],
       [0.29846131, 0.43505977, 0.29178913],
       [0.95791929, 0.48758114, 0.9035305 ],
       [0.29146281, 0.87942207, 0.30823122],
       [0.95155379, 0.511037  , 0.15582158],
       [0.59765447, 0.25450315, 0.9221626 ],
       [0.30487754, 0.1645553 , 0.79307838],
       [0.74150908, 0.88726191, 0.8903231 ],
       [0.79030708, 0.97947211, 0.89470328],
       [0.82399427, 0.09532058, 0.79141982],
       [0.14894614, 0.90831508, 0.29426808],
       [0.42647305, 0.24044511, 0.15996719],
       [0.96848597, 0.1997735 , 0.08773604],
       [0.29977041, 0.90225071, 0.29512427],
       [0.79190822, 0.9685068 , 0.56672896],
       [0.67189329, 0.68782952, 0.93152169],
       [0.1222998 , 0.21501421, 0.00322522],
       [0.78556487, 0.58303799, 0.42773247],
       [0.08546189, 0.8863156 , 0.58974026],
       [0.67147488, 0.71244657, 0.86825951],
       [0.26216831, 0.29069325, 0.39630968],
       [0.20329023, 0.28048623, 0.44900645],
       [0.85401063, 0.82244425, 0.16852342],
       [0.26495494, 0.24008746, 0.52670027],
       [0.16443143, 0.33707682, 0.18984175],
       [0.9355649 , 0.51893087, 0.36311672],
       [0.9998742 , 0.47102764, 0.62546531],
       [0.70483115, 0.43492486, 0.81001154],
       [0.50158537, 0.26683502, 0.02705067],
       [0.12756197, 0.57439101, 0.16128907],
       [0.33219213, 0.5921563 , 0.09499325],
       [0.6960797 , 0.10770097, 0.86369157],
       [0.07469543, 0.32948214, 0.36979475],
       [0.93621463, 0.94473791, 0.42497933],
       [0.78775362, 0.32947709, 0.26314725],
       [0.07439513, 0.17759297, 0.86539695],
       [0.43187125, 0.40520393, 0.4940443 ],
       [0.96447045, 0.43909098, 0.0139629 ],
       [0.9967948 , 0.33552821, 0.86829924],
       [0.33030298, 0.43989488, 0.41929019],
       [0.6290725 , 0.68744055, 0.22251505],
       [0.39413726, 0.17768404, 0.73677693],
       [0.27221257, 0.87859201, 0.45978309],
       [0.45912695, 0.1630939 , 0.27513416],
       [0.01623471, 0.44779178, 0.71949497],
       [0.84879216, 0.72275087, 0.32517129],
       [0.57456334, 0.08191895, 0.76708915],
       [0.70840336, 0.56860337, 0.76708525],
       [0.22262633, 0.66986941, 0.00541535],
       [0.52307477, 0.40450179, 0.32858469],
       [0.71550027, 0.35984691, 0.36300304],
       [0.79465044, 0.09315481, 0.16205151],
       [0.2030721 , 0.71215656, 0.9991771 ],
       [0.55730674, 0.18083899, 0.15389556],
       [0.38819738, 0.14558721, 0.60145769],
       [0.84180611, 0.13731386, 0.47440954],
       [0.13448677, 0.3135322 , 0.48462964],
       [0.9040241 , 0.43478689, 0.16131439],
       [0.57064266, 0.48311616, 0.52389423],
       [0.19019614, 0.03189071, 0.24290743],
       [0.09345425, 0.03806673, 0.82099498]])

In [18]:
df1[0][0] = 200

In [19]:
df1

array([[2.00000000e+02, 7.08371964e-01, 2.26229891e-01],
       [8.75719363e-01, 8.43831805e-01, 3.46154479e-02],
       [6.83656300e-02, 5.11280478e-01, 3.53361996e-01],
       [5.36579896e-01, 9.22139066e-01, 3.22058239e-01],
       [1.04803815e-01, 8.87521428e-01, 6.68637979e-01],
       [6.97276891e-01, 6.51603937e-01, 1.29564348e-01],
       [4.13979085e-01, 5.69255593e-01, 8.33972794e-01],
       [4.82006523e-01, 9.27398454e-01, 7.55659494e-01],
       [1.35252592e-01, 3.63023081e-01, 7.14268225e-01],
       [9.21947814e-01, 8.77140980e-01, 2.81394990e-01],
       [5.13323434e-01, 8.42913705e-01, 9.81799401e-01],
       [2.08978108e-01, 2.05463730e-01, 8.70297451e-01],
       [3.88979506e-01, 2.22732739e-01, 8.76666443e-02],
       [8.76952765e-01, 8.99864568e-01, 2.24090718e-01],
       [1.63734051e-01, 9.75433474e-01, 6.95957777e-01],
       [8.94352837e-01, 7.28442277e-01, 3.99994698e-01],
       [8.09272276e-01, 2.69662691e-01, 1.13074388e-01],
       [7.16188097e-01, 6.98719708e-01, 3.64112231e-01],
       [4.79601580e-01, 1.69303026e-02, 8.15973866e-01],
       [1.01658452e-01, 7.12996685e-01, 4.42256542e-01],
       [7.29715738e-01, 4.80285407e-01, 5.92615675e-01],
       [2.88346167e-01, 6.07462026e-01, 4.87571982e-02],
       [3.71424446e-01, 3.67485909e-01, 8.67310166e-02],
       [8.26686357e-02, 3.82215879e-01, 1.83949671e-01],
       [5.05306715e-01, 1.17272445e-01, 7.29398738e-01],
       [6.70849951e-01, 4.50168640e-01, 9.67820404e-01],
       [2.57497171e-01, 6.87431500e-01, 6.58609264e-01],
       [1.85444295e-01, 1.26842462e-02, 6.81134837e-01],
       [9.89993322e-01, 4.42292395e-01, 5.48552488e-01],
       [7.31657690e-01, 3.97711176e-01, 9.36698777e-02],
       [5.88311750e-01, 1.29429511e-01, 5.56436866e-01],
       [9.70328296e-01, 5.47010026e-01, 6.81490777e-01],
       [9.31503504e-01, 7.49402830e-01, 4.93797345e-01],
       [6.96990849e-01, 7.99070186e-01, 8.85563051e-01],
       [6.08403048e-01, 1.67823694e-02, 2.23310392e-01],
       [3.06956502e-01, 6.28022276e-02, 4.15352172e-01],
       [4.76889865e-01, 1.14024870e-01, 8.27773814e-01],
       [3.82459315e-01, 8.24174602e-01, 3.35341786e-01],
       [6.43952616e-01, 3.91625600e-01, 4.92771393e-01],
       [6.46447176e-01, 4.27646131e-02, 4.55315755e-01],
       [2.98461312e-01, 4.35059771e-01, 2.91789134e-01],
       [9.57919291e-01, 4.87581139e-01, 9.03530498e-01],
       [2.91462815e-01, 8.79422067e-01, 3.08231220e-01],
       [9.51553793e-01, 5.11037004e-01, 1.55821577e-01],
       [5.97654473e-01, 2.54503154e-01, 9.22162603e-01],
       [3.04877537e-01, 1.64555300e-01, 7.93078381e-01],
       [7.41509084e-01, 8.87261914e-01, 8.90323099e-01],
       [7.90307083e-01, 9.79472109e-01, 8.94703283e-01],
       [8.23994272e-01, 9.53205790e-02, 7.91419822e-01],
       [1.48946138e-01, 9.08315082e-01, 2.94268075e-01],
       [4.26473045e-01, 2.40445113e-01, 1.59967192e-01],
       [9.68485968e-01, 1.99773504e-01, 8.77360399e-02],
       [2.99770405e-01, 9.02250715e-01, 2.95124273e-01],
       [7.91908221e-01, 9.68506801e-01, 5.66728960e-01],
       [6.71893289e-01, 6.87829521e-01, 9.31521688e-01],
       [1.22299804e-01, 2.15014211e-01, 3.22521826e-03],
       [7.85564872e-01, 5.83037990e-01, 4.27732473e-01],
       [8.54618882e-02, 8.86315599e-01, 5.89740259e-01],
       [6.71474880e-01, 7.12446575e-01, 8.68259509e-01],
       [2.62168309e-01, 2.90693246e-01, 3.96309675e-01],
       [2.03290235e-01, 2.80486234e-01, 4.49006446e-01],
       [8.54010629e-01, 8.22444249e-01, 1.68523419e-01],
       [2.64954942e-01, 2.40087462e-01, 5.26700265e-01],
       [1.64431427e-01, 3.37076815e-01, 1.89841746e-01],
       [9.35564901e-01, 5.18930865e-01, 3.63116723e-01],
       [9.99874198e-01, 4.71027637e-01, 6.25465315e-01],
       [7.04831155e-01, 4.34924863e-01, 8.10011541e-01],
       [5.01585375e-01, 2.66835021e-01, 2.70506729e-02],
       [1.27561974e-01, 5.74391011e-01, 1.61289073e-01],
       [3.32192132e-01, 5.92156304e-01, 9.49932516e-02],
       [6.96079695e-01, 1.07700973e-01, 8.63691565e-01],
       [7.46954307e-02, 3.29482140e-01, 3.69794751e-01],
       [9.36214626e-01, 9.44737914e-01, 4.24979326e-01],
       [7.87753621e-01, 3.29477094e-01, 2.63147247e-01],
       [7.43951264e-02, 1.77592973e-01, 8.65396953e-01],
       [4.31871246e-01, 4.05203932e-01, 4.94044304e-01],
       [9.64470448e-01, 4.39090978e-01, 1.39629005e-02],
       [9.96794797e-01, 3.35528210e-01, 8.68299243e-01],
       [3.30302976e-01, 4.39894882e-01, 4.19290193e-01],
       [6.29072502e-01, 6.87440553e-01, 2.22515047e-01],
       [3.94137258e-01, 1.77684044e-01, 7.36776935e-01],
       [2.72212569e-01, 8.78592007e-01, 4.59783095e-01],
       [4.59126951e-01, 1.63093902e-01, 2.75134158e-01],
       [1.62347061e-02, 4.47791778e-01, 7.19494968e-01],
       [8.48792160e-01, 7.22750870e-01, 3.25171287e-01],
       [5.74563342e-01, 8.19189484e-02, 7.67089147e-01],
       [7.08403364e-01, 5.68603370e-01, 7.67085245e-01],
       [2.22626333e-01, 6.69869410e-01, 5.41535469e-03],
       [5.23074768e-01, 4.04501788e-01, 3.28584691e-01],
       [7.15500274e-01, 3.59846907e-01, 3.63003035e-01],
       [7.94650443e-01, 9.31548094e-02, 1.62051513e-01],
       [2.03072096e-01, 7.12156558e-01, 9.99177101e-01],
       [5.57306736e-01, 1.80838989e-01, 1.53895560e-01],
       [3.88197378e-01, 1.45587208e-01, 6.01457688e-01],
       [8.41806109e-01, 1.37313857e-01, 4.74409539e-01],
       [1.34486774e-01, 3.13532202e-01, 4.84629639e-01],
       [9.04024097e-01, 4.34786893e-01, 1.61314392e-01],
       [5.70642656e-01, 4.83116159e-01, 5.23894231e-01],
       [1.90196138e-01, 3.18907065e-02, 2.42907432e-01],
       [9.34542547e-02, 3.80667321e-02, 8.20994979e-01]])

In [20]:
df

             0         1         2
0   200.000000  0.708372  0.226230
1     0.875719  0.843832  0.034615
2     0.068366  0.511280  0.353362
3     0.536580  0.922139  0.322058
4     0.104804  0.887521  0.668638
..         ...       ...       ...
95    0.134487  0.313532  0.484630
96    0.904024  0.434787  0.161314
97    0.570643  0.483116  0.523894
98    0.190196  0.031891  0.242907
99    0.093454  0.038067  0.820995

[100 rows x 3 columns]

In [21]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,200.000000,0.875719,0.068366,0.536580,0.104804,0.697277,0.413979,0.482007,0.135253,0.921948,...,0.794650,0.203072,0.557307,0.388197,0.841806,0.134487,0.904024,0.570643,0.190196,0.093454
1,0.708372,0.843832,0.511280,0.922139,0.887521,0.651604,0.569256,0.927398,0.363023,0.877141,...,0.093155,0.712157,0.180839,0.145587,0.137314,0.313532,0.434787,0.483116,0.031891,0.038067
2,0.226230,0.034615,0.353362,0.322058,0.668638,0.129564,0.833973,0.755659,0.714268,0.281395,...,0.162052,0.999177,0.153896,0.601458,0.474410,0.484630,0.161314,0.523894,0.242907,0.820995

In [22]:
df.head()

            0         1         2
0  200.000000  0.708372  0.226230
1    0.875719  0.843832  0.034615
2    0.068366  0.511280  0.353362
3    0.536580  0.922139  0.322058
4    0.104804  0.887521  0.668638

In [24]:
df.sort_index(ascending=False)

             0         1         2
99    0.093454  0.038067  0.820995
98    0.190196  0.031891  0.242907
97    0.570643  0.483116  0.523894
96    0.904024  0.434787  0.161314
95    0.134487  0.313532  0.484630
..         ...       ...       ...
4     0.104804  0.887521  0.668638
3     0.536580  0.922139  0.322058
2     0.068366  0.511280  0.353362
1     0.875719  0.843832  0.034615
0   200.000000  0.708372  0.226230

[100 rows x 3 columns]

In [25]:
df.loc[0]

0    200.000000
1      0.708372
2      0.226230
Name: 0, dtype: float64